body {
  background-color:darkslategray;
}

h1 {
  color:white;
}

h2.intro {
  color:white;
}

h2.start {
  color:blanchedalmond;
}

h2 {
  color:lightgray;
}

p.intro {
  color:white;
}

p.start {
  color:blanchedalmond;
}

p {
  color:lightgray;
}

ul {
  color:lightgray;
}

a:visited {
  color:aquamarine;
}

a {
  color:cadetblue;
}