.intro {
  color:white;
}

.start {
  color:blanchedalmond;
}

body {
  background-color:darkslategray;
}

h1 {
  color:white;
}

.main {
  color:lightgray;
}

a:visited {
  color:aquamarine;
}

a {
  color:cadetblue;
}